<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>EJS Tags</title>
</head>

<body>
  <h1>
    <%=data.title%><!-- print variable -->
  </h1>
  <p>Current second: <%= data.seconds %>
  </p>
  <% if (data.seconds%2==0) { %><!-- js code likhlm...output chai na kno -->
    <ol>
      <% data.items.forEach((element)=> { %>
        <li>
          <%=element %>
        </li>
        <% }) %>
    </ol>
    <% } else { %>
      <p>no item to show</p>
      <% } %>

        <%- data.htmlContent %><!-- html pass krc direct -->
          <%- include("footer") %>
</body>

</html>